:root{
    --raleway:'Raleway';
    --poppins:'Poppins';
    --inter:'Inter';
}
*{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{width:100%;font-family:'Poppins', Verdana, Geneva, Tahoma, sans-serif;scroll-behavior:smooth;position:relative;}
html{scroll-behavior:smooth;width:100%;}
a{text-decoration:none;color:#fff;}
.yellowAbsolute{background-color:rgba(255,199,39,.5);height:1000px;width:100%;border-radius:50px 50px 170px 50px;
position:absolute;transform:rotate(-40deg);top:-375px;right:0;left:-240px;bottom:0;z-index:-999;}
main{width:100%;margin-bottom:50px;}
.gd-jc-jd{background-color:#263238;width:100%;}
.hf-bc-jd{width:95%;margin:0 auto;display:flex;align-items:center;justify-content:space-between;padding:10px 0;}
.shareAllThings-img a{display:flex;}
.shareAllThings-img img{width:100px;}
.download-button .shareAllThings-menubar button{display:none;}
.sub-menu-fh-ds{display:flex;align-items:center;justify-content:space-between;}
.sub-menu-fh-ds ul{display:flex;justify-content:space-between;align-items:center;}
.sub-menu-fh-ds ul li{list-style:none;font-family:var(--raleway);font-size:19px;font-weight:600;}
.sub-menu-fh-ds ul li::after{content:"";width:0%;height:2px;background-color:#fff;display:block;position:relative;transition:all .5s;}
.sub-menu-fh-ds ul li:hover::after{width:100%;}
.download-button .download-hkd-sn button{border:none;padding:13px 25px;background-color:#FFC727;border-radius:50px;font-family:var(--inter);
font-weight:600;text-align:center;}
.download-button .download-hkd-sn button a{color:#263238;}
.bf-hd-sm-fg{display:flex;align-items:center;width:95%;margin:50px auto 0;}
.dg-hd-vb{width:50%;padding-left:30px;}
.nc-hs-nc{width:50%;}
.icon-joion-us-hd-jd{display:flex;align-items:center;background-color:#fff;width:fit-content;padding:14px 20px;border-radius:50px;}
.icon-joion-us-hd-jd p{font-family:var(--raleway);font-weight:700;line-height:15px;margin-left:10px;color:#263238;}
.icon-joion-us-hd-jd i{font-size:23px;color:#263238;}
.gd-nv-if p{font-family:var(--inter);font-weight:600;font-size:50px;color:#263238;line-height:70px;}
.gd-nv-if{margin-top:30px;}
.hc-ks-ht{margin-top:15px;}
.hc-ks-ht p{font-weight:400;font-size:20px;color:#263238;}
.dj-nc-kf{margin-top:30px;}
.registerEmail input[type="email"]{width:70%;padding:15px 10px;font-family:var(--poppins);border:1px solid #263238;background-color:#fff;}
.registerEmail button[type="submit"]{padding:15px 60px;margin-top:30px;font-family:var(--inter);font-weight:600;border:2px solid #263238;
background-color:#263238;color:#FFC727;cursor:pointer;border-radius:50px;}
.bc-jd-img img{width:75%;}
.bc-jd-img{text-align:center;}
.nv-fj-ld{width:95%;margin:0 auto;}
.dn-mf-kd{width:100%;margin-top:70px;background-color:rgba(255, 199, 39, 0.5);padding:30px 0 50px;}
.dh-mv-lg p{font-weight:600;font-size:26px;color:#263238;}
.icon-joion-us-hd-jd{cursor:pointer;}
.do-mc-kg{display:flex;align-items:center;margin-top:60px;}
.donation-mc-lk{width:50%;}
.download-app-mv-cx{width:50%;}
.donation-mc-lk figure{background-color:#263238;padding:35px 30px;width:80%;margin:0 auto;
border-radius:30px;box-shadow:0px 4px 11px rgba(0, 0, 0, 0.25);}
.donation-mc-lk figure .animate-one-nv-gd img{width:100%;border-radius:30px;}
.donation-mc-lk figure figcaption p{font-family:var(--raleway);font-weight:600;color:#fff;padding-top:15px;line-height:33px;font-size:23px;}
.donation-mc-lk figure figcaption p span{text-decoration:underline;font-weight:800;}
.donation-mc-lk figure figcaption button{width:100%;padding:20px 0;border:1px solid #FFC727;background-color:#FFC727;font-family:var(--poppins);font-weight:600;font-size:25px;}
.donation-mc-lk figure figcaption button a{color:#263238;font-family:var(--poppins);font-weight:600;font-size:23px;}
.donation-mc-lk figure figcaption button{margin-top:60px;border-radius:20px;text-align:center;}
.download-app-mv-cx figure{background-color:#263238;padding:35px 30px;width:80%;margin:0 auto;
border-radius:30px;box-shadow:0px 4px 11px rgba(0, 0, 0, 0.25);}
.download-app-mv-cx figure .animate-two-mc-hd img{width:100%;border-radius:30px;}
.download-app-mv-cx figure figcaption p{font-family:var(--raleway);font-weight:600;color:#fff;padding-top:15px;line-height:33px;font-size:23px;}
.download-app-mv-cx figure figcaption button{width:100%;padding:20px 0;border:1px solid #FFC727;background-color:#FFC727;font-family:var(--poppins);font-weight:600;font-size:25px;}
.download-app-mv-cx figure figcaption button a{color:#263238;font-family:var(--poppins);font-weight:600;font-size:23px;}
.download-app-mv-cx figure figcaption button{margin-top:60px;border-radius:20px;text-align:center;}
.bc-jd-jc{width:100%;margin-top:50px;}
.vn-nv-kf-mv{display:flex;align-items:center;width:95%;margin:100px 0 0 auto;}
.nc-ik-img{width:45%;}
.nc-hd-lk{justify-content:center;}
.nc-hd-lk{width:55%;height:775px;background-color:#263238;border-bottom-left-radius:50px;border-top-left-radius:50px;padding-left:80px;display:flex;flex-direction:column;}
.img-id-cj img{width:75%;}
.img-id-cj{text-align:center;}
.ny-kg-dm p{font-family:var(--inter);font-weight:700;font-size:40px;color:#FFC727;}
.nc-nv-mb p{font-family:var(--raleway);font-weight:700;font-size:20px;color:#FFC727;}
.nc-nv-mb{padding-right:150px;margin-top:30px;line-height:35px;}
.nv-ud-jd a{border:1px solid #FFC727;padding:20px 50px;background-color:transparent;}
.nv-ud-jd a{font-family:var(--raleway);font-weight:700;font-size:18px;color:#FFC727;position:relative;z-index:1;}
.nv-ud-jd{margin-top:70px;}
.nv-ud-jd a span{padding-left:5px;}
.nv-ud-jd a::after{content:"";transition:all .3s;display:inline;position:absolute;background:#FFC727;width:0%;height:100%;top:0;left:0;z-index:-1;}
.nv-ud-jd a:hover::after{width:100%;}
.nv-ud-jd a:hover{color:#263238;}
main section:nth-child(4){margin-top:50px;background-color:rgba(255, 199, 39,.5);}
.bc-jd-yr{width:95%;margin:0 auto;padding:50px 0 80px;}
.nc-lg-pd p{font-weight:600;font-size:26px;}
.bc-lg-it{width:100%;margin-top:40px;}
.bc-lg-it ul{display:flex;justify-content:space-between;align-items:center;}
.bc-lg-it ul li{width:25%;margin:0 15px;background-color:#263238;border-radius:15px;list-style:none;box-shadow:0px 4px 11px rgba(0, 0, 0, 0.25);}
.bc-lg-it ul li:first-child{margin-left:0px;}
.bc-lg-it ul li:last-child{margin-right:0px;}
.bc-lg-it ul li figure{width:100%;border-radius:15px;}
.bc-lg-it ul li figure figcaption{padding:10px 15px 25px;width:100%;}
.bc-lg-it ul li figure .nc-ik-img-one{width:100%;border-radius:15px;max-height:199px;}
.bc-lg-it ul li figure .nc-ik-img-one img{width:100%;border-radius:15px;}
.bc-lg-it ul li figure figcaption p:first-child{font-weight:700;font-size:23px;color:#FFC727;}
.bc-lg-it ul li figure figcaption p:nth-child(2){font-family:var(--inter);font-weight:400;color:#fff;}
.hd-kc-uf{margin-top:30px;}
.hd-kc-uf button{width:100%;padding:15px 0;border:1px solid #FFC727;background-color:#FFC727;border-radius:10px;}
.hd-kc-uf button a{font-weight:600;font-size:18px;font-family:var(--poppins);}
.bc-un-kg{margin-top:80px;text-align:center;}
.bc-un-kg button{border:1px solid #263238;background-color:#263238;padding:20px 60px;}
.bc-un-kg button a{color:#FFC727;font-family:var(--raleway);font-weight:700;font-size:17px;}
.nc-fd-hf{width:100%;margin-top:30px;}
.nc-fd-hf ul{display:flex;justify-content:space-between;align-items:center;}
.nc-fd-hf ul li{width:25%;margin:0 15px;background-color:#263238;border-radius:15px;list-style:none;box-shadow:0px 4px 11px rgba(0, 0, 0, 0.25);}
.nc-fd-hf ul li:first-child{margin-left:0px;}
.nc-fd-hf ul li:last-child{margin-right:0px;}
.nc-fd-hf ul li figure{width:100%;border-radius:15px;}
.nc-fd-hf ul li figure figcaption{padding:10px 15px 25px;width:100%;}
.nc-fd-hf ul li figure .mh-ds-img-one{width:100%;border-radius:15px;max-height:199px;}
.nc-fd-hf ul li figure .mh-ds-img-one img{width:100%;border-radius:15px;}
.nc-fd-hf ul li figure figcaption p:first-child{font-weight:700;font-size:23px;color:#FFC727;}
.nc-fd-hf ul li figure figcaption p:nth-child(2){font-family:var(--inter);font-weight:400;color:#fff;}
.hd-ur-nc{margin-top:30px;}
.hd-ur-nc button{width:100%;padding:15px 0;border:1px solid #FFC727;background-color:#FFC727;border-radius:10px;}
.hd-ur-nc button a{font-weight:600;font-size:18px;font-family:var(--poppins);}
main section:nth-child(5){margin-top:100px;}
.cn-kf-yf{width:100%;display:flex;align-items:center;}
.nc-kf-lk{background-color:rgba(255, 199, 39, .5);width:55%;height:650px;border-radius:0 50px 50px 0;}
.nc-kf-lk{display:flex;align-items:center;justify-content:center;padding:0 20px;}
.nc-mn-vs{width:45%;}
.mg-bc-lu{text-align:center;}
.mg-bc-lu img{width:75%;}
.bc-mv-ml{overflow-x:scroll;padding-bottom:20px;}
.bc-mv-ml::-webkit-scrollbar{height:7px;}
.bc-mv-ml::-webkit-scrollbar-thumb{background:rgba(255, 199, 39,.7);border-radius:5px;}
.bc-mv-ml::-webkit-scrollbar-track{background:#263238;border-radius:5px;}
.bc-mv-ml::-webkit-scrollbar-thumb:hover{background-color:rgba(255, 199, 39, 90%);transition:all .5s}
.gh-kf-gt{display:flex;align-items:center;width:100%;margin:0 auto;}
.nj-lo-nc{min-width:300px;width:300px;height:450px;background-color:#fff;box-shadow:0px 4px 11px rgba(0, 0, 0, 0.25);margin:0 10px;}
.nv-kf-ki{margin:30px 10px 0;text-align:center;}
.nv-kf-ki img{width:90%;}
.nc-kg-ls{text-align:center;margin-top:30px;}
.nc-kg-ls p{text-transform:uppercase;font-family:var(--inter);font-weight:700;color:#263238;font-size:18px;}
.nv-k-dl{text-align:center;margin:25px 10px 0;}
.nv-k-dl p{font-family:var(--poppins);font-weight:400;font-size:14px;line-height:18px;color:rgba(0, 0, 0, 0.8);}
.nv-lc-jf{margin:25px 10px 0;text-align:end;}
.nv-lc-jf p{font-weight:700;display:flex;align-items:center;justify-content:end;text-transform:uppercase;color:#263238;}
.nv-lc-jf p i{font-size:6px;}
.nj-lo-nc:last-child .nv-kf-ki img{width:80%;}
.nj-lo-nc:first-child .nv-kf-ki img{width:80%;}
.nj-lo-nc:first-child{margin-left:0;}
.nj-lo-nc:last-child{margin-right:0;}
footer section:nth-child(1){width:100%;margin-top:15px;}







@media screen and (min-width:769px) and (max-width:900px) {
    .yellowAbsolute{left:-240px;top:-315px;}
    .download-button{margin-left:20px;}
    .sub-menu-fh-ds ul li{margin:0 15px;}
    .gd-nv-if p{font-size:30px;line-height:40px;}
    .hc-ks-ht p{font-size:16px;}
    .gd-nv-if{margin-top:15px;}
    .dj-nc-kf{margin-top:15px;}
    .registerEmail input[type="email"]{width:70%;}
    .icon-joion-us-hd-jd{padding:10px 14px;}
    .icon-joion-us-hd-jd p{font-size:15px;line-height:0px;}
    .download-app-mv-cx figure figcaption button a{font-size:18px;}
    .donation-mc-lk figure figcaption button a{font-size:18px;}
    .donation-mc-lk figure figcaption p{font-size:18px;}
    .download-app-mv-cx figure figcaption p{font-size:18px;}
    .download-app-mv-cx figure figcaption button{margin-top:30px;padding:15px 0;}
    .donation-mc-lk figure figcaption button{margin-top:30px;padding:15px 0}
    .donation-mc-lk figure{width:90%;}
    .download-app-mv-cx figure{width:90%;}
    .dn-mf-kd{margin-top:200px;}
    .nc-nv-mb{padding-right:60px;}
    .nc-hd-lk{padding-left:40px;}
    .nc-nv-mb p{font-size:18px;line-height:30px;}
    .nc-hd-lk{height:600px;}
    .img-id-cj img{width:90%;}
    .nv-ud-jd a{padding:18px 34px;font-size:16px;}
    .bc-lg-it ul li{margin:0 5px;}
    .bc-lg-it ul li figure figcaption{padding:5px 8px 15px;}
    .nc-fd-hf ul li{margin:0 5px;}
    .nc-fd-hf ul li figure figcaption{padding:5px 8px 15px;}
    .hd-kc-uf button{padding:8px 0;}
    .hd-kc-uf button a{font-size:16px;}
    .hd-ur-nc button{padding:8px 0;}
    .hd-ur-nc button a{font-size:16px;}
    .bc-lg-it ul li:nth-child(3) figure figcaption p:first-child{font-size:20px;}
    .mg-bc-lu img{width:90%;}
}
@media screen and (min-width:901px) {
    .download-button{margin-left:70px;}
    .sub-menu-fh-ds ul li{margin:0 50px;}
}
@media screen and (min-width:1007px) and (max-width:1074px){
    .bc-lg-it ul li:nth-child(3) figure figcaption p:nth-child(2){font-size:14px;}
    .bc-lg-it ul li,.nc-fd-hf ul li{margin:0 7px;}
}
@media screen and (min-width:901px) and (max-width:1000px){
    .gd-nv-if p{font-size:35px;line-height:50px;}
    .hc-ks-ht p{font-size:18px;}
    .donation-mc-lk figure{width:90%;}
    .download-app-mv-cx figure{width:90%;}
    .download-app-mv-cx figure figcaption button{margin-top:30px;}
    .donation-mc-lk figure figcaption button{margin-top:30px;}
    .dn-mf-kd{margin-top:120px;}
    .dn-mf-kd{margin-top:100px;}
    .nc-nv-mb{padding-right:60px;}
    .nc-hd-lk{padding-left:40px;height:700px;}
    .img-id-cj img{width:100%;}
    .nv-ud-jd a{padding:15px 30px;font-size:16px;}
    .nc-nv-mb p{font-size:18px;line-height:28px;}
    .bc-jd-img img{width:90%;}
    .bc-lg-it ul li figure figcaption p:first-child{font-size:20px;}
    .bc-lg-it ul li{margin:0 7px;}
    .nc-fd-hf ul li{margin:0 7px;}
    .img-id-cj img{width:85%;}
    .mg-bc-lu img{width:85%;}
}
@media screen and (min-width:1061px) and (max-width:1135px){
    .nc-fd-hf ul li:nth-child(1) figure figcaption p:nth-child(2){font-size:18px;line-height:18px;}
}
