:root{
    --raleway:'Raleway';
    --poppins:'Poppins';
    --inter:'Inter';
}
*{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{width:100%;font-family:'Poppins', Verdana, Geneva, Tahoma, sans-serif;scroll-behavior:smooth;position:relative;}
html{scroll-behavior:smooth;width:100%;}
a{text-decoration:none;color:#fff;}
.yellowAbsolute{background-color:rgba(255,199,39,.5);height:1000px;width:100%;border-radius:50px 50px 170px 50px;
position:fixed;transform:rotate(-40deg);top:-375px;right:0;left:-85px;bottom:0;z-index:-999;}
main{width:100%;}
.gd-jc-jd{background-color:#263238;width:100%;}
.hf-bc-jd{width:95%;margin:0 auto;display:flex;align-items:center;justify-content:space-between;padding:10px 0;}
.shareAllThings-img a{display:flex;}
.shareAllThings-img img{width:100px;}
.download-button .shareAllThings-menubar button{display:none;}
.sub-menu-fh-ds{display:flex;align-items:center;justify-content:space-between;}
.sub-menu-fh-ds ul{display:flex;justify-content:space-between;align-items:center;}
.sub-menu-fh-ds ul li{list-style:none;font-family:var(--raleway);font-size:19px;font-weight:600;}
.sub-menu-fh-ds ul li::after{content:"";width:0%;height:2px;background-color:#fff;display:block;position:relative;transition:all .5s;}
.sub-menu-fh-ds ul li:hover::after{width:100%;}
.download-button .download-hkd-sn button{border:none;padding:13px 25px;background-color:#FFC727;border-radius:50px;font-family:var(--inter);
font-weight:600;}
.download-button .download-hkd-sn button a{color:#263238;}
.bf-hd-sm-fg{display:flex;align-items:center;width:95%;margin:70px auto 0;}
.dg-hd-vb{width:50%;}
.nc-hs-nc{width:50%;}
.icon-joion-us-hd-jd{display:flex;align-items:center;background-color:#fff;width:fit-content;padding:14px 20px;border-radius:50px;}
.icon-joion-us-hd-jd p{font-family:var(--raleway);font-weight:700;line-height:15px;margin-left:10px;}
.icon-joion-us-hd-jd i{font-size:23px;}


@media screen and (min-width:769px) and (max-width:900px) {
    .download-button{margin-left:20px;}
    .sub-menu-fh-ds ul li{margin:0 15px;}
}
@media screen and (min-width:901px) {
    .download-button{margin-left:70px;}
    .sub-menu-fh-ds ul li{margin:0 50px;}
}