:root{
    --raleway:'Raleway';
    --poppins:'Poppins';
    --inter:'Inter';
}
*{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{width:100%;font-family:'Poppins', Verdana, Geneva, Tahoma, sans-serif;scroll-behavior:smooth;position:relative;}
html{scroll-behavior:smooth;width:100%;}
a{text-decoration:none;color:#fff;}
.yellowAbsolute{background-color:rgba(255,199,39,.5);height:1000px;width:100%;border-radius:50px 50px 170px 50px;
position:absolute;transform:rotate(-40deg);top:-375px;right:0;left:-240px;bottom:0;z-index:-999;}
main{width:100%;margin-bottom:200px;}
.gd-jc-jd{background-color:#263238;width:100%;}
.hf-bc-jd{width:95%;margin:0 auto;display:flex;align-items:center;justify-content:space-between;padding:10px 0;}
.shareAllThings-img a{display:flex;}
.shareAllThings-img img{width:100px;}
.download-button .shareAllThings-menubar button{display:none;}
.sub-menu-fh-ds{display:flex;align-items:center;justify-content:space-between;}
.sub-menu-fh-ds ul{display:flex;justify-content:space-between;align-items:center;}
.sub-menu-fh-ds ul li{list-style:none;font-family:var(--raleway);font-size:19px;font-weight:600;}
.sub-menu-fh-ds ul li::after{content:"";width:0%;height:2px;background-color:#fff;display:block;position:relative;transition:all .5s;}
.sub-menu-fh-ds ul li:hover::after{width:100%;}
.download-button .download-hkd-sn button{border:none;padding:13px 25px;background-color:#FFC727;border-radius:50px;font-family:var(--inter);
font-weight:600;text-align:center;}
.download-button .download-hkd-sn button a{color:#263238;}
.bf-hd-sm-fg{display:flex;align-items:center;width:95%;margin:50px auto 0;}
.dg-hd-vb{width:50%;padding-left:30px;}
.nc-hs-nc{width:50%;}
.icon-joion-us-hd-jd{display:flex;align-items:center;background-color:#fff;width:fit-content;padding:14px 20px;border-radius:50px;}
.icon-joion-us-hd-jd p{font-family:var(--raleway);font-weight:700;line-height:15px;margin-left:10px;color:#263238;}
.icon-joion-us-hd-jd i{font-size:23px;color:#263238;}
.gd-nv-if p{font-family:var(--inter);font-weight:600;font-size:50px;color:#263238;line-height:70px;}
.gd-nv-if{margin-top:30px;}
.hc-ks-ht{margin-top:15px;}
.hc-ks-ht p{font-weight:400;font-size:20px;color:#263238;}
.dj-nc-kf{margin-top:30px;}
.registerEmail input[type="email"]{width:50%;padding:15px 10px;font-family:var(--poppins);border:1px solid #263238;background-color:#fff;}
.registerEmail button[type="submit"]{padding:15px 60px;margin-top:30px;font-family:var(--inter);font-weight:600;border:2px solid #263238;
background-color:#263238;color:#FFC727;cursor:pointer;border-radius:50px;}
.bc-jd-img img{width:75%;}
.bc-jd-img{text-align:center;}
.nv-fj-ld{width:95%;margin:0 auto;}
.dn-mf-kd{width:100%;margin-top:70px;background-color:rgba(255, 199, 39, 0.5);padding:30px 0 50px;}
.dh-mv-lg p{font-weight:600;font-size:26px;color:#263238;}
.icon-joion-us-hd-jd{cursor:pointer;}
.do-mc-kg{display:flex;align-items:center;margin-top:60px;}
.donation-mc-lk{width:50%;}
.download-app-mv-cx{width:50%;}
.donation-mc-lk figure{background-color:#263238;padding:35px 30px;width:80%;margin:0 auto;
border-radius:30px;box-shadow:0px 4px 11px rgba(0, 0, 0, 0.25);}
.donation-mc-lk figure .animate-one-nv-gd img{width:100%;border-radius:30px;}
.donation-mc-lk figure figcaption p{font-family:var(--raleway);font-weight:600;color:#fff;padding-top:15px;line-height:33px;font-size:23px;}
.donation-mc-lk figure figcaption p span{text-decoration:underline;font-weight:800;}
.donation-mc-lk figure figcaption button{width:100%;padding:20px 0;border:1px solid #FFC727;background-color:#FFC727;font-family:var(--poppins);font-weight:600;font-size:25px;}
.donation-mc-lk figure figcaption button a{color:#263238;font-family:var(--poppins);font-weight:600;font-size:23px;}
.donation-mc-lk figure figcaption button{margin-top:60px;border-radius:20px;text-align:center;}
.download-app-mv-cx figure{background-color:#263238;padding:35px 30px;width:80%;margin:0 auto;
border-radius:30px;box-shadow:0px 4px 11px rgba(0, 0, 0, 0.25);}
.download-app-mv-cx figure .animate-two-mc-hd img{width:100%;border-radius:30px;}
.download-app-mv-cx figure figcaption p{font-family:var(--raleway);font-weight:600;color:#fff;padding-top:15px;line-height:33px;font-size:23px;}
.download-app-mv-cx figure figcaption button{width:100%;padding:20px 0;border:1px solid #FFC727;background-color:#FFC727;font-family:var(--poppins);font-weight:600;font-size:25px;}
.download-app-mv-cx figure figcaption button a{color:#263238;font-family:var(--poppins);font-weight:600;font-size:23px;}
.download-app-mv-cx figure figcaption button{margin-top:60px;border-radius:20px;text-align:center;}




@media screen and (min-width:769px) and (max-width:900px) {
    .yellowAbsolute{left:-240px;top:-315px;}
    .download-button{margin-left:20px;}
    .sub-menu-fh-ds ul li{margin:0 15px;}
    .gd-nv-if p{font-size:30px;line-height:40px;}
    .hc-ks-ht p{font-size:16px;}
    .gd-nv-if{margin-top:15px;}
    .dj-nc-kf{margin-top:15px;}
    .registerEmail input[type="email"]{width:70%;}
    .icon-joion-us-hd-jd{padding:10px 14px;}
    .icon-joion-us-hd-jd p{font-size:15px;line-height:0px;}
    .download-app-mv-cx figure figcaption button a{font-size:18px;}
    .donation-mc-lk figure figcaption button a{font-size:18px;}
    .donation-mc-lk figure figcaption p{font-size:18px;}
    .download-app-mv-cx figure figcaption p{font-size:18px;}
    .download-app-mv-cx figure figcaption button{margin-top:30px;padding:15px 0;}
    .donation-mc-lk figure figcaption button{margin-top:30px;padding:15px 0}
    .donation-mc-lk figure{width:90%;}
    .download-app-mv-cx figure{width:90%;}
}
@media screen and (min-width:901px) {
    .download-button{margin-left:70px;}
    .sub-menu-fh-ds ul li{margin:0 50px;}
}
@media screen and (min-width:901px) and (max-width:1000px){
    .gd-nv-if p{font-size:35px;line-height:50px;}
    .hc-ks-ht p{font-size:18px;}
    .donation-mc-lk figure{width:90%;}
    .download-app-mv-cx figure{width:90%;}
    .download-app-mv-cx figure figcaption button{margin-top:30px;}
    .donation-mc-lk figure figcaption button{margin-top:30px;}
}