.donation-mc-lk figure .animate-one-nv-gd{overflow:hidden;border-radius:30px;}
.donation-mc-lk figure .animate-one-nv-gd img{transition:all .5s;}
.donation-mc-lk figure:hover .animate-one-nv-gd img{transform:scale(1.2);}
.download-app-mv-cx figure .animate-two-mc-hd{overflow:hidden;border-radius:30px;}
.download-app-mv-cx figure .animate-two-mc-hd img{transition:all .5s;}
.download-app-mv-cx figure:hover .animate-two-mc-hd img{transform:scale(1.2);}
.bc-lg-it ul li figure .nc-ik-img-one{overflow:hidden;}
.bc-lg-it ul li figure .nc-ik-img-one img{transition:all .5s;}
.bc-lg-it ul li figure:hover .nc-ik-img-one img{transform:scale(1.2);}

.nc-fd-hf ul li figure .mh-ds-img-one{overflow:hidden;}
.nc-fd-hf ul li figure .mh-ds-img-one img{transition:all .5s;}
.nc-fd-hf ul li figure:hover .mh-ds-img-one img{transform:scale(1.2);}