@media screen and (max-width:768px){
    .sub-menu-fh-ds{flex-direction:column-reverse;position:relative;}
    .download-button .shareAllThings-menubar{margin-left:30px;}
    .download-button .shareAllThings-menubar button{display:block;border:none;background-color:transparent;}
    .sub-menu-fh-ds ul{flex-direction:column;position:fixed;background-color:#263238;height:100vh;top:0;bottom:0;}
    .sub-menu-fh-ds ul{width:50%;left:-999px;justify-content:start;padding-top:10px;z-index:-1;padding-left:20px;}
    .sub-menu-fh-ds{justify-content:center;padding-right:30px;padding-left:50px;}
    .download-button{display:flex;align-items:center;justify-content:space-between;width:85%;}
    .download-button .shareAllThings-menubar i{font-size:30px;color:#fff;}
    .hf-bc-jd{width:100%;margin:0;}
    .sub-menu-fh-ds ul li{margin:10px 0;}
    .sub-menu-fh-ds ul{transition:all .5s ease-in;z-index:1;top:87px;}
    .sub-menu-fh-ds ul.showNavMenu{left:0;transition:all .5s ease-out;}
    .yellowAbsolute{left:-250px;top:-300px;border-bottom-right-radius:20px;}
    .shareAllThings-img{padding-left:5px;}
    .bf-hd-sm-fg{flex-direction:column;}
    .dg-hd-vb,.nc-hs-nc{width:100%;}
    .do-mc-kg{flex-direction:column;}
    .donation-mc-lk{margin-bottom:50px;width:100%;}
    .donation-mc-lk figure{width:90%;padding:40px 35px;}
    .download-app-mv-cx{margin-bottom:50px;width:100%;}
    .download-app-mv-cx figure{width:90%;padding:40px 35px;}
    .donation-mc-lk figure figcaption p{padding-top:40px;}
    .download-app-mv-cx figure figcaption p{padding-top:40px;}
    .vn-nv-kf-mv{flex-direction:column;margin:100px 0 0;width:100%;}
    .nc-ik-img{width:100%;}
    .nc-hd-lk{width:90%;margin:30px 0 0 auto;padding-left:50px;}
    .nc-nv-mb{padding-right:30px;}
}
@media screen and (min-width:401px) and (max-width:520px){
    .yellowAbsolute{left:-285px;top:-350px;}
    .gd-nv-if p{font-size:35px;line-height:45px;}
    .icon-joion-us-hd-jd{border:1px solid #263238;}
    .hc-ks-ht p{font-size:18px;}
    .registerEmail input[type="email"]{width:90%;}
    .nc-hs-nc{margin-top:10px;}
    .dg-hd-vb{padding:0 8px;}
    .download-app-mv-cx figure{width:90%;padding:45px 20px;}
    .donation-mc-lk figure{width:90%;padding:45px 20px;}
    .donation-mc-lk figure figcaption p{padding-top:10px;font-size:18px;}
    .download-app-mv-cx figure figcaption p{padding-top:10px;font-size:18px;}
    .donation-mc-lk figure figcaption button{margin-top:20px;padding:13px 0;}
    .download-app-mv-cx figure figcaption button{margin-top:20px;padding:13px 0;}
    .dh-mv-lg p{font-size:24px;}
    .dn-mf-kd{margin-top:20px;}
    .nc-nv-mb p{font-size:17px;line-height:27px;}
    .nv-ud-jd a{padding:15px 30px;font-size:16px;}
    .ny-kg-dm p{font-size:30px;}
    .nc-hd-lk{height:650px;padding-left:50px;}
    .img-id-cj img{width:85%;}
    .bc-jd-img img{width:85%;}

}
@media screen and (max-width:400px){
    .yellowAbsolute{left:-300px;top:-304px;}
    .sub-menu-fh-ds{padding-left:0;padding-right:15px;}
    .download-button .shareAllThings-menubar{margin:0 15px;}
    .gd-nv-if p{font-size:38px;line-height:45px;}
    .dg-hd-vb{padding:0 5px;}
    .hc-ks-ht p br{display:none;}
    .registerEmail input[type="email"]{width:100%;}
    .hc-ks-ht p{font-size:16px;}
    .yellowAbsolute{border-bottom-right-radius:20px;}
    .icon-joion-us-hd-jd{border:1px solid #263238;padding:10px 14px;}
    .icon-joion-us-hd-jd p{font-size:15px;line-height:0;}
    .icon-joion-us-hd-jd i{font-size:19px;}
    .nc-hs-nc{margin-top:10px;}
    .bc-jd-img img{width:90%;}
    .download-app-mv-cx figure{width:90%;padding:25px 15px;}
    .donation-mc-lk figure{width:90%;padding:25px 15px;}
    .donation-mc-lk figure figcaption p{padding-top:10px;font-size:18px;}
    .download-app-mv-cx figure figcaption p{padding-top:10px;font-size:18px;}
    .donation-mc-lk figure figcaption button{margin-top:20px;padding:13px 0;}
    .download-app-mv-cx figure figcaption button{margin-top:20px;padding:13px 0;}
    .download-app-mv-cx figure figcaption button a{font-size:18px;}
    .donation-mc-lk figure figcaption button a{font-size:18px;}
    .dh-mv-lg p{font-size:20px;}
    .dn-mf-kd{margin-top:20px;}
    .dh-mv-lg p{font-size:24px;}
    .dn-mf-kd{margin-top:20px;}
    .nc-nv-mb p{font-size:17px;line-height:27px;}
    .nv-ud-jd a{padding:15px 30px;font-size:16px;}
    .ny-kg-dm p{font-size:30px;}
    .nc-hd-lk{height:600px;padding-left:25px;}
    .img-id-cj img{width:90%;}
}